@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Rajdhani:600');

:root {
  --red: rgb(204, 0, 0);
}

* {
  font-family: 'Rajdhani', sans-serif;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-image: url("https://i.imgur.com/ybtKvQ2.jpg"); */
}

.header-image {
  background-image: url("https://i.imgur.com/Io3QJqs.jpg");
  width: 100vw;
  height: 90vh;
  background-position: 70% 30%;
}

.nav {
  min-height: 78px;
  height: 10vh;
  width: 100vw;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-items: center;
  /* justify-content: space-around; */
  /* align-items: center; */
  position: sticky;
  top: 0;
}

.nav-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1;
  align-items: center;
  justify-items: center;
  width: 100%;
  /* display: none; */
}

.nav h2 {
  margin: 0;
  font-size: 30px;
}

.nav h2:hover {
  cursor: pointer;
}

.hamburger {
  height: 70px;
  width: 70px;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  display: none;
  position: relative;
  left: 50px;
}

.hamburger:hover {
  cursor: pointer;
}

.line {
  width: 100%;
  height: 3px;
  background: white;
  margin-top: 5px;
  margin-bottom: 5px;
}


.body {
  width: 85%;
  align-self: center;
  /* background: #ddd; */
  /* background-image: url("https://i.imgur.com/ybtKvQ2.jpg"); */
  background-size: cover;
  background-position: center;
}

.caligraphy {
  display: flex;
  justify-content: center;
}

.body-cover {

}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 100px;
}

.image {
  height: 500px;
  min-width: 300px;
  width: 100%;
  max-width: 500px;
  background-size: cover;
  background-position:center;
}

#omakase-image {
  background-image: url("https://i.imgur.com/vbV5Fms.png");
  justify-self: end;
}

#about-image {
  background-image: url("https://i.imgur.com/WZA5X3F.png");
  justify-self: start;
}

#press-image {
  background-image: url("https://i.imgur.com/voq1A4U.jpg");
  justify-self: end;
}

#press-text {
  justify-self: center;
}

.text-container {
  width: 70%;
  text-align: left;
  align-self: center;
}

.text-container h2 {
  font-family: "Rajdhani", sans-serif;
  font-size: 44px;
}

.text-container p {
  font-family: 'Open sans', sans-serif;
  /* font-size: 18px; */
}

#about-text {
  justify-self: center;
  /* align-self: end; */
}

#about-text p {
  margin-bottom: 0;
}

.backdrop {
  background-image: url("https://i.imgur.com/ybtKvQ2.jpg");
  opacity: .1;
  /* background: rgba(242, 230, 214, .5); */
  background-size: cover;
  background-position: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.locations {
  margin-top: 200px;
  text-align: left;
}

.city-list {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  justify-content: space-between;
}

.city-list p {
  font-size: 20px;
}

.contact-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  text-align: left;
  justify-items: center;
  width: 90%;
}

.contact-city {
  width: 90%;
}

.city-container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.restaurant-container {
  height: 812px;
  margin-top: 35px;
  min-width: 300px;
  width: 100%;
  max-width: 513px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button {
  align-self: center;
  min-width: 50px;
  width: 25%;
  max-width: 100px;
  color: var(--red);
  border-radius: 50px;
  border: 2px solid var(--red);
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  cursor: pointer;
}

#nav-book {
  font-size: 28px;
  width: 100%;

}

#restaurant-container-one {
  justify-self: start;
}

#restaurant-container-two {
  justify-self: end;
}

.restaurant-image-one {
  /* min-width: 300px; */
  width: 100%;
  max-width: 513px;
  height: 406px;
  background-image: url("https://i.imgur.com/Io3QJqs.jpg");
  background-size: cover;
  background-position: center;
}

.restaurant-image-two {
  /* min-width: 300px; */
  width: 100%;
  max-width: 513px;
  height: 406px;
  background-size: cover;
  background-position: center;
}

#new-york-one {
  background-image: url("https://i.imgur.com/StkJLnj.jpg");
}

#new-york-two {
  background-image: url("https://i.imgur.com/bI5UyMn.jpg");
}

.restaurant-text {
  display: grid;
  grid-template-columns: 50% 50%;
}

.restaurant-text h2 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.contact-info {
  text-align: left;
}

.hours {
  text-align: left;
  justify-self: end;
}

#press-text {
  align-self: start;
  justify-self: start;
  height: 100%;
  max-height: 500px;
}

#press h2 {
  margin-top: 0;
}

#press-description {
  height: 100%;
}

#press-description p {
  margin: 0;
}

.footer {
  min-height: 567px;
  height: auto;
  background: black;
  margin-top: 100px;
  color: white;
  display: grid;
  justify-items: center;
}

.footer h2 {
  align-self: center;
}

.nav img {
  height: 10vh;
}

@media only screen and (max-width: 1230px) {
  .city-container {
    grid-template-columns: 1fr;
  }

  #restaurant-container-one {
    justify-self: center;
  }

  #restaurant-container-two {
    justify-self: center;
  }

  .restaurant-container {
    min-width: 300px;
    width: 100%;
    max-width: 513px;
  }

  .nav-content {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  /* .restaurant-image-one {
    min-width: 300px;
    width: 100%;
  } */
}

@media only screen and (max-width: 760px) {
  .city-list {
    flex-direction: column;
  }

  .content {
    grid-template-columns: 1fr;
  }

  #about-image {
    grid-row-start: 2;
    justify-self: center;
  }

  #omakase-image {
    justify-self: center;
  }

  .text-container {
    width: 100%;
  }

  #about-text p {
    margin-bottom: 1em;
  }

  #press-image {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 500px) {
  .body {
    width: 98%;
  }
}
